<div class="col-md-12">

	<div class="loader" *ngIf="loading == 'show'">
		<img src="./assets/image/loader.gif"/>
	</div>

	<div class="col-md-12" *ngIf="task">
		<h3>{{task.title}}</h3>

		<div class="panel panel-default task-data">
			<div class="panel-heading">
				<h3 class="panel-title">
					Tarea creada por <strong>{{task.user.name + ' ' + task.user.surname}}</strong> el {{task.createdAt.timestamp|generateDate}}
				</h3>
			</div>
			<div class="panel-body">
				{{task.description}}
			</div>
		</div>
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Borrar</button>
		<!-- Modal -->
		<div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">¿Estás seguro?</h4>
					</div>
					<div class="modal-body">
						<p>Vas a eliminar permanente la tarea, no podrás recuperarla, ¿estás seguro?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteTask(task.id);">Si, quiero borrarla</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>